.pagination {
  .page-number {
    color: var(--color);
    min-width: 2.5em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: none;
    font-size: 1em;
    justify-content: center;
    margin: 0.25rem;
    padding: calc(0.5em - 1px) 0.5em;
    text-align: center;
  }

  .page-number:not(.current):hover,
  .pagination-previous:hover,
  .pagination-next:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
  }

  .page-number.current {
    border: none;
  }

}
