.tools{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius:50%;
    z-index: 9999;
    a{
        border-radius:50%;
    }

    .tools-switch-up {
        animation-name: tools-switch-up;
        animation-delay: 0s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .tools-switch-down {
        animation-name: tools-switch-down;
        animation-delay: 0s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    /*animations*/
    @keyframes tools-switch-up {
        100% {
            transform: rotate(180deg);
        }
    }
    @keyframes tools-switch-down {
        100% {
            transform: rotate(180deg);
        }
    }

    .tools-switch{
        background-color: var(--theme-color);
        font-size: 1.2rem;
        z-index: 99999;
        color: hsl(0, 0%, 93%);
    }

    .tools-item{
        background-color: var(--bg-color);
        position: absolute;
        opacity: 0;
        right: 0px;
        z-index: 9999;
        color: var(--color);
        transition: all .5s ease 0s;
    }
    .tools-item.active{
        background-color: var(--theme-color);
    }
    .tools-item:hover{
        background-color: var(--theme-color);
    }

    .tools-item-show {
        opacity: 1;
        transition: all .5s ease 0s;
    }
    .tools-item-show#tools-up {
        transform: translate3d(-10%, -300%, 0);
    }
    .tools-item-show#tools-mode-dark {
        transform: translate3d(-10%, -170%, 0) rotate(240deg);
    }
    .tools-item-show#tools-theme {
        transform: translate3d(-120%, -100%, 0);
    }
    .tools-item-show#tools-widget {
        transform: translate3d(-300%, 20%, 0);
    }
    .tools-item-show#tools-post-menu {
        transform: translate3d(-180%, 20%, 0);
    }



}
