@charset "utf-8";

:root{
  --theme-color: hsl(171, 100%, 41%);
  --color: hsl(0, 0%, 10%);
  --bg-color: hsl(0, 0%, 100%);
  --border-color: #dbdbdb;
  --border-hover-color: #b5b5b5;
}

// 暗黑模式
body{
  color: var(--color);
  background-color: var(--bg-color);
}

// 选中样式
::-moz-selection {
  background: var(--theme-color);
  color: hsl(0, 0%, 100%);
}
::selection {
  background: var(--theme-color);
  color: hsl(0, 0%, 100%);
}




@import "_common/footer";
@import "_common/highlight";
@import "_common/menus";
@import "_common/tools";
@import "_common/pagination";
@import "_page/post-list.scss";
