
<div class="tabs is-right bd-snippet-preview" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="menu-highlight">
        <% for (var menu in theme.menus){ %>
            <% var itemName = menu.toLowerCase(); %>
            <li class="menu-item menu-item-<%= itemName %>">
                <a href="<%- url_for(theme.menus[menu].url) %>">
<!--                    <i class="icon <%#= theme.menus[menu].icon %>"></i>-->
                    <span class="menu-title"><%= __('menu.'+menu) %></span>
                </a>
            </li>
        <% } %>
    </ul>
</div>
