

.media {
    .media{
        border-top: none;
        border-bottom: 1px solid rgba(219, 219, 219, 0.5);
        padding-bottom: 0.75rem;
        margin-bottom: 1rem;
        .media-content{
            a{
                color: var(--color);
            }
            a:hover{
                color: var(--theme-color);
                border-bottom-color: var(--theme-color);
            }
            .media-title{
                font-size: 1.5rem;
                margin-bottom: 3px;
                border-bottom: none;
            }
            .media-excerpt{
                a{
                    border-bottom: 2px solid var(--color);
                }
            }
            .media-info{
                a{
                    border-bottom: 1px solid var(--color);
                }
            }
        }

    }
    + .media {
        margin-top: 0rem;
        padding-top: 0rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .media-info{
        text-align: end;
    }

}





